# Generals
.DS_Store
.idea
*.iml
.code
.vscode

# Deps
vendor/**

# NodeJS
node_modules
package-lock.json
build

# PKI
*.crt
*.csr
*.cer
*.pem
*.key
!**/testdata/*.cer
!**/testdata/*.pem

# Secret files
**/*secret*
!.exclude-secrets-scan.txt

# Build
dist
serve
!helm/serve

# Temp file
tmp

# Code coverage reports
coverage.*
